<div class="image-grid">
    <% images.forEach(image => { %>
        <div class="image">
            <img src="<%= image.src.medium %>" alt="<%= image.photographer %>">
        </div>
    <% }); %>
</div>



<div class="middleContainer" style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr; gap: 10px;">
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
    <div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div><div class="cards">
        <img src="<%= imageUrl %>" alt="" width="250px">
    </div>
 </div>
    