<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- FONT FAMILY LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Ubuntu&display=swap" rel="stylesheet">
    <!-- BOOTSRAP LINK -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- JS LIBRARY CDN -->
    <script src="https://kit.fontawesome.com/031ebd0324.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/main.css">
    <title>Paxel|Get images-videos fastly with a click...</title>

    <!-- Favicon with a link -->
    <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/512/5226/5226139.png" type="image/x-icon">
</head>
<body>
    <%- include("partials/secondHeader.ejs") %>

    <!--  -->
    <div class="hero allContainer" style="background-image: url('<%=imageUrl%>');">
        
        <!-- <img src="pattern_squares-and-squares-2_1_3_2-2_55_2__000000_090495_626062.png" width="400"  height="500"> -->
        <!-- The header on the top -->
        <header class="topHeader allContainer">
            <!-- LOGO  -->
            <div class="logo">
                <img src="https://cdn-icons-png.flaticon.com/512/5226/5226139.png"
                width="40px" height="40px" alt="Maxel-logo.png">
                <h2 class="fontSizeMediumTitle">Paxel</h2>
            </div>
            <!-- links -->
            
            <div class="links">
              <div class="wheater_status">
                <img src="images/drizzle.png" alt="" id="updateImg" width="30px">
                <i id="getlocation" class="fa fa-location-arrow" style="cursor: pointer; margin-left: 10px; margin-right: 10px; font-size: 18px !important;"></i>
              </div>
              <div class="linkes">
                <a href="#show_image">Explore <i class="fa fa-arrow-circle-o-down"></i></a>
                <a href="#">License</a>
                <a href="#" class="activeBtn">Join</a>
              </div>
            </div>
            
        </header>

        <!-- CENTER CONTENT TEXT -->
        <div class="center_text">
            <h3 class="fontSizeBigTitle" style="font-weight: 900; font-size: 35px;">The best free stock photos, royalty free images & videos shared by creators.</h3>
            <span>Trending:
                friendship, social media marketing, ai, rainbow, ganesha</span>
        </div>
        <a href="<%= userUrl %>"><span class="userName">Photo By/<%= userName %></span></a>
        <!-- BOTTOM HEADER -->
        <header class="bottomHeader allContainer">
            <form action="/search" method="GET">
                <input type="text" name="query" placeholder="Search for images">
                <input type="submit" value="Search">
            </form>

            <div class="socials">
                <i class="fa fa-instagram"></i>
                <i class="fa fa-github"></i>
                <i class="fa fa-facebook"></i>
                <i class="fa fa-linkedin"></i>
            </div>
        </header>
    </div>
    <!-- INCLUDING A SECOND HEADER TAG -->
    <!-- BOOTSTRAP JS LINK -->

    <!-- SHOW THE IMAGES BY SEARCHING -->

   <div class="showing_images_container allContainer" style="padding: 20px;" id="show_image">
    <div class="header_SIC">
      <a href="/index">Home</a>
      <a href="#">Videos</a>
      <a href="#">Leaderboard</a>
      <a href="#">Challenges</a>
    </div>

    <div class="header_SIC_title">
      <h1>Free Stock Photos</h1>
      <span>Trending <i class="fa fa-arrow-down"></i></span>
    </div>

    <div class="image-grid">
      <% if (images && images.length > 0) { %>
        <% images.forEach(image => { %>
          <div class="cards">
            <img src="<%= image.imageLink %>" width="100%" height="350px">
          </div>
        <% }); %>
      <% } else { %>
        <!-- Display a message or show random images here -->
        <% randomImages.forEach(randomImage => { %>
          <div class="cards">
            <img src="<%= randomImage %>" width="100%" height="350px">
          </div>
        <% }); %>
      <% } %>
   
    </div>
    </div>

    <script src="/config.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>

<!-- views/index.ejs -->
